/* test commit */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

span, p {
    word-break: keep-all;
    white-space: pre-line;
}

.container {
    max-width: 1300px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.container>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
    font-size: 1.5rem;
    border-bottom: 1px solid #5f5f5f;
    padding-bottom: 15px;
}

.card>p {
    margin: 0;
    margin-bottom: 5px;
}

.profile-horizontal {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.profile-horizontal img {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background-color: #444;
    object-fit: cover;
}

.profile-horizontal .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px 0px 5px 0;
    gap: 10px;
}

.profile-horizontal h1 {
    margin: 0;
    font-size: 1.8rem;
}

.profile-horizontal p {
    margin: 0;
    font-size: 1rem;
    color: #888;
}

.profile-horizontal .social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.social-icons .non-hover {
    display: block;
}

.social-icons .hover {
    display: none;
}

.social-icons a:hover .non-hover {
    display: none;
}

.social-icons a:hover .hover {
    display: block;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timeline-item {
    background-color: #1a1a1a;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #333;
}

.timeline-item .timeline-date {
    font-size: 1.1rem;
    color: #7f7f7f;
}

.timeline-item .timeline-event {
    font-size: 1rem;
    color: #fff;
}

div.projects {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.projects>a {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    gap: 10px;
    transition: all 0.3s;
}

div.projects>a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

div.projects>a img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

div.projects>a div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.projects>a h3 {
    margin: 10px 0 0 0;
    font-size: 1.2rem;
}

div.projects>a p {
    margin: 5px 0 0 0;
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    div.timeline-container {
        display: block;
        padding: 0;
    }

    div.timeline-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #333;
        padding: 10px 0;
        font-size: 0.9rem;
    }

    .timeline-item .timeline-date {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        color: #fff;
    }
}