<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>도현 | dohyun.0</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container justify-center">
                <ul class="navbar__menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="https://github.com/dohyun-0">Github</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main style="padding-top: 10vh;">
        <div class="info flex align-center justify-center">
            <div class="main-info flex justify-center">
                <div class="img-container" style="max-width: 256px;">
                    <img src="../static/img/profile.jpeg" alt="" id="img"
                        style="width: 256px; height: 256px; border-radius: 10%;">
                    <div class="header flex align-center text-left">
                        <h1>깅도현</h1>
                        <h4>@dohyun.0</h4>
                    </div>
                    <span style="word-break: keep-all; white-space: pre-line;">
                        디스코드 커뮤니티 서버에서 활동중인 깅도현이라고 합니다!
                    </span>
                    <span style="word-break: keep-all; white-space: pre-line;">
                        현재 저는 月구인구직 서버장으로 활동 중 입니다.
                    </span>
                </div>
                <div class="desc">
                    <div class="box-1">
                        <p>본명 : 비공</p>
                        <p>활동명 : 깅도현</p>
                        <p>생년월일 : 2009년 05월 21일</p>
                        <p>디스코드 가입일 : 2021년 11월 24일</p>
                        <p>MBTI : ISTP</p>
                    </div>
                    <br>
                    <div class="box-2">
                        <p>디스코드 관리자 경력</p>
                        <ul>
                            <li>전 500명대 친목 서버 홍보팀</li>
                            <li>전 400명대 친목 서버 보안팀</li>
                            <li>전 400명대 친목 서버 총관리자</li>
                            <li>전 800명대 홍보 서버 총관리자</li>
                            <li>전 300명대 친목 서버 보안팀</li>
                            <li>전 1100명대 친목 서버 보안팀</li>
                            <li>전 300명대 친목 서버 봇 개발팀</li>
                            <li>전 200명대 친목 서버 총관리자</li>
                            <li>전 600명대 홍보 서버 관리자</li>
                            <li>전 400명대 친목 서버 대표</li>
                            <li>전 400명대 친목 서버 봇 개발팀장</li>
                            <li>전 400명대 친목 서버 총관리자</li>
                            <li>전 100명대 친목 서버 2대 소유주</li>
                            <li>전 600명대 친목 서버 홍보팀</li>
                            <li>현 1700명대 홍보 서버 5대 소유주</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="flex column justify-center align-center" style="margin-top: 64px;">
                    <div style="margin-top: 10px;"></div>
                    <!-- <table>
                        <tr>
                            <th>서버명</th>
                            <th>종류</th>
                            <th>인원</th>
                            <th>직급</th>
                        </tr>
                        <tr>
                            <td>Cafe</td>
                            <td>친목</td>
                            <td>500명대</td>
                            <td>홍보팀</td>
                        </tr>
                        <tr>
                            <td>기억 안남</td>
                            <td>친목</td>
                            <td>400명대</td>
                            <td>보안팀</td>
                        </tr>
                        <tr>
                            <td>이리스 화원</td>
                            <td>친목</td>
                            <td>400명대</td>
                            <td>총관리자</td>
                        </tr>
                        <tr>
                            <td>𝐅𝐃𝐒</td>
                            <td>홍보</td>
                            <td>800명대</td>
                            <td>총관리자</td>
                        </tr>
                        <tr>
                            <td>곰돌이 겨울학교</td>
                            <td>친목</td>
                            <td>300명대</td>
                            <td>보안팀</td>
                        </tr>
                        <tr>
                            <td>디코호텔</td>
                            <td>친목</td>
                            <td>1100명대</td>
                            <td>보안팀</td>
                        </tr>
                        <tr>
                            <td>디스코드 라피네</td>
                            <td>친목</td>
                            <td>300명대</td>
                            <td>봇 개발팀</td>
                        </tr>
                        <tr>
                            <td>𝑭𝑳𝑶𝑵𝑰𝑺</td>
                            <td>친목</td>
                            <td>200명대</td>
                            <td>총관리자</td>
                        </tr>
                        <tr>
                            <td>UBS</td>
                            <td>홍보</td>
                            <td>600명대</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>𝑰𝒓𝒊𝒔 𝑮𝒂𝒓𝒅𝒆𝒏</td>
                            <td>친목</td>
                            <td>400명대</td>
                            <td>서버 대표</td>
                        </tr>
                        <tr>
                            <td>디코호텔</td>
                            <td>친목</td>
                            <td>400명대</td>
                            <td>봇 개발 팀장</td>
                        </tr>
                        <tr>
                            <td>𝐋𝐎𝐕𝐄 𝐒𝐓𝐎𝐑𝐘</td>
                            <td>친목</td>
                            <td>400명대</td>
                            <td>총관리자</td>
                        </tr>
                        <tr>
                            <td>𝐁𝐢𝐫𝐭𝐡 𝐬𝐭𝐨𝐧𝐞</td>
                            <td>친목</td>
                            <td>100명대</td>
                            <td>2대 소유주</td>
                        </tr>
                        <tr>
                            <td>이오고등학교</td>
                            <td>친목</td>
                            <td>600명대</td>
                            <td>홍보팀</td>
                        </tr>
                        <tr>
                            <td>月구인구직</td>
                            <td>홍보</td>
                            <td>1600명대</td>
                            <td>5대 소유주</td>
                        </tr>
                    </table> -->
                </div>
            </div>
        </div>
    </main>
</body>

</html>